# Ignore everything
*
# But not these files
!.gitignore
!README.md

# Default Configuration
!Default.sublime-keymap
!Package Control.sublime-settings
!Preferences.sublime-settings

# Plugins configuration
!Bash.sublime-settings
!ColorHighlighter.sublime-settings
!JavaScript (Babel).sublime-settings
!SublimeLinter.sublime-settings
!Vue Component.sublime-settings
